@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EC Utbildning<br />
    Söder, Helsingborg<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Urgent:</strong>   <a href="mailto:urgent@loveheart.com">urgent@loveheart.com</a><br />
    <strong>Booking:</strong> <a href="mailto:booking@loveheart.com">booking@loveheart.com</a>
</address>